html {
    height: 100%;
}

body {
    background-image: url(photos/black_scales.png);
    margin: 0px;
    height: 100%
}

.wrapper {
    margin: 0px auto;
}

#badger-carousel {
    margin: 20px auto;
    width: 70%;
}